div#background {
    height: 150px;
    width: 70%;
    background-color: darkred;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 150px; 
    
}

p {
    
    font-size: 35px;
   background: linear-gradient(to right, #FFF 20%, darkred 55%, darkred 60%, #FFF 80%);
    background-size: 305px auto;
 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 4s linear infinite;
}
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }



 