* {
    margin: 0;
    padding: 0;
}

body { ;
    color:whitesmoke;
    background-color: #213b50;
    
}

form {
    margin: 10px 0 0 10px ;
}


input, select, textarea {
    background-color: #2b4a64;
    color:#ffffff;
    border: #2b4a64 1px solid;
}

input:focus, select:focus, textarea:focus{
background-color: #4e708c;    
border: 1px solid #ffffff;
color: #ffffff;   
outline: none;
}

::-webkit-input-placeholder { /* Chrome */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
}

input[type="submit"]{
    background-color: yellowgreen;
    border:none ;
    padding: 15px 32px;
    text-align: center;
    text-decoration:none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;  /*po najechaniu jest łapka*/
}

