
div{ 
    
white-space:pre-wrap; 
display: inline;

}

p {
    font-weight: 800;
    display: inline;
}

i {
    margin-left: 5px;
}
.fa-long-arrow-up {
    color:green;
}

.fa-long-arrow-down {
    color:red;
}

.fa-minus {
    color:blue;
}