* {
    margin: 0;
    padding: 0;
}

#tlo-obrazek {
    background-color: red;
    background-image: url(http://sahilsk.github.io/hubot-minions/public/images/minions/Hello-Minion-icon.png);
    background-repeat: repeat-x;
    background-position: top center;
    background-attachment: fixed;
}